@page "/"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Enterprise CRM</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron bg-primary text-white p-5 rounded">
                <h1 class="display-4">Welcome to Enterprise CRM</h1>
                <p class="lead">Your comprehensive customer relationship management solution</p>
                <hr class="my-4">
                <p>Manage customers, opportunities, leads, and more with our powerful CRM system.</p>
                <a class="btn btn-light btn-lg" href="#" role="button">Get Started</a>
            </div>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Customers</h5>
                    <p class="card-text">Manage your customer relationships</p>
                    <a href="#" class="btn btn-primary">View Customers</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Opportunities</h5>
                    <p class="card-text">Track sales opportunities</p>
                    <a href="#" class="btn btn-primary">View Opportunities</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Leads</h5>
                    <p class="card-text">Manage your sales leads</p>
                    <a href="#" class="btn btn-primary">View Leads</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Activities</h5>
                    <p class="card-text">Track customer activities</p>
                    <a href="#" class="btn btn-primary">View Activities</a>
                </div>
            </div>
        </div>
    </div>
</div>
